body {
	background:white;
	font-family:tahoma,arial,verdana,sans-serif;
	font-size:75%;
}

#menu
{
	width: 99%;
	font:  small-caps 300 14px arial;
}

#menu:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

#menu ul{
	border: 1px solid #BBB;
	background-color:#000069;
	width: 100%;
	padding: 5px 0;
	margin: 0;
	text-align: left;
}

#menu ul li
{
	display: inline;
}

#menu ul li a
{
	padding: 2px 10px;
	margin: 0;
	color: #FFF;
	text-decoration: none;
}

#menu ul li.help a{
	cursor: help;
}

#menu ul li a:hover
{
	padding: 2px 10px;
	background-color: white;
	color:#00BFFF;
	border-bottom: 2px solid #00BFFF;
}

#content  {
	width         : 90%;
	margin-left   : 20px;
	line-height   : 150%;
}
#mainFrame {
	border: 0px;
	color: #000066;
}

#maincontent {
	border-width  : 10px 1px;
	border-color  : #000066;
	border-style  : solid;
	height        : auto;
	margin-top   : 25px;
	padding-top   : 25px;
}
#title{
	text-align    : center;
	line-height   : 150%;
	font-size     : 165%;
	font-weight   : bold;
	padding-top   : 20px;
}
#subtitle{
	text-align    : center;
	font-size     : 150%;
	padding-top   : 25px;
}

